transformers
langchain
langchain-community

torch
sentence-transformers
openai
requests
pyttsx3
tensorflow
nltk
torchvision
opencv-python
pyaudio
psutil
bs4
pandas

ctransformers

pypdf
fastembed

flashrank
rapidocr-onnxruntime
